CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	
	background-image: url("../images/stars.jpg");
	
	background-repeat: no-repeat;

	background-size: cover;
	height: 100vh;
}
/*targets the elements with the class name container*/
.container{
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

/*end container*/


/*target html element h1*/
 h1{
 	color: white; 	
 	
 	text-transform: uppercase;
 	font-size: 50px;
 	letter-spacing: 3px;
 	margin-bottom: 10px;
 	border-radius: 10px;
 	font-family: 'Liu Jian Mao Cao', cursive;
 	margin-right: 50px;
 	margin-left: 50px;
  }
/*end of h1 styling*/
/*start of h2 styling*/
h2{

	color: white;
	font-family: 'McLaren', cursive;
	/*background-color: #333333;
*/	margin-bottom: 0px;
	padding: 10px;
	border-radius: 0px;
	margin-top: 0px;

}
/*end of h2 styling*/
/*targets the html element with the class attribute "bio"*/
.bio{
	color: white;
	font-size: 18px;
	line-height: 25px;
	/*background-color: rgba(51,51,51,0.5);*/
	font-family: 'ZCOOL XiaoWei', serif;
	margin-top: 0px;

}
/*end of bio*/

/*targets the html attribute id with a value me*/

#bb {



	height: 200px;

	width: 200px;
	border-radius: 50%;
	border-width: 5px;
	border-color: indianred;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;

}

#borderimg {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.jpeg) 30 stretch;
}
/*end of me